<div class="main-container">
  <div class="current-time">
    <p class="current-hour">{{ dateTime | date: "H:mm:ss" }}</p>
    <p>
      {{ salatTime?.date?.hijri?.month?.en }}
      {{ salatTime?.date?.hijri?.day }},{{ salatTime?.date?.hijri?.year }} AH
    </p>
  </div>
  <mat-card class="salat-time" [ngClass]="{ nextPrayer: nextPrayer === 'Fajr' }"
    ><div class="salat-title">
      <img src="../../assets/pictures/icons8-lever-du-soleil-24.png" />
      <span>Fajr</span>
    </div>
    <span>{{ salatTime?.timings?.Fajr?.replace("(CET)", "") }}</span></mat-card
  >
  <mat-card
    class="salat-time"
    [ngClass]="{ nextPrayer: nextPrayer === 'Dhuhr' }"
    ><div class="salat-title">
      <img src="../../assets/pictures/icons8-soleil-24.png" />
      <span>Dhuhr</span>
    </div>
    <span>{{ salatTime?.timings?.Dhuhr?.replace("(CET)", "") }}</span></mat-card
  >
  <mat-card class="salat-time" [ngClass]="{ nextPrayer: nextPrayer === 'Asr' }"
    ><div class="salat-title">
      <img src="../../assets/pictures/icons8-soleil-24 (1).png" />
      <span>Asr</span>
    </div>
    <span>{{ salatTime?.timings?.Asr?.replace("(CET)", "") }}</span></mat-card
  >
  <mat-card
    class="salat-time"
    [ngClass]="{ nextPrayer: nextPrayer === 'Maghrib' }"
    ><div class="salat-title">
      <img src="../../assets/pictures/icons8-le-coucher-du-soleil-24.png" />
      <span>Maghrib</span>
    </div>
    <span>{{
      salatTime?.timings?.Maghrib?.replace("(CET)", "")
    }}</span></mat-card
  >
  <mat-card class="salat-time" [ngClass]="{ nextPrayer: nextPrayer === 'Isha' }"
    ><div class="salat-title">
      <img src="../../assets/pictures/icons8-ne-pas-déranger-2-24.png" />
      <span>'Isha</span>
    </div>
    <span>{{ salatTime?.timings?.Isha?.replace("(CET)", "") }}</span></mat-card
  >
</div>
