.main-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.current-hour {
  font-size: 35px;
}

.current-time {
  width: auto;
  height: 150px;
  background-color: #3f50b5;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.salat-time {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.salat-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nextPrayer {
  background-color: #e4e8fd;
}
